%body
  - content_for(:title) { "Edit #{page.page_title}" }
  %header.header
    %h1.header__heading
      修改动弹
    .header__actions
      = link_to "Show", [namespace, page.resource], class: "button"
  = render "form", page: page
