- title "登录后台"
.ui.middle.aligned.center.aligned.grid.login
  .six.wide.column
    = form_tag login_path,method: :post,class:'ui form' do
      .field
        .ui.left.icon.input
          %i.user.icon
          = text_field_tag 'email'
      .field
        .ui.left.icon.input
          %i.lock.icon
          = password_field_tag 'pwd'
      .field
        = submit_tag "登录后台",class:'ui fluid button'
:scss
  .login{
    height:80vh;
  }
