.field
  .ui.left.icon.input
    %i.user.icon
    = form.text_field :email, type: 'email',placeholder:"邮箱"
.field
  .ui.left.icon.input
    %i.lock.icon
    = form.password_field :password,placeholder:"密码"
