%aside.main.index-sidebar.tweet-sidebar
  %h4.ui.header.home-tweet-title 最新动弹
  .list-tweet
    - @tweets.each do |t|
      .ui.fluid.card.tweet-item
        .content
          %span.right.floated.time
            %i.blue.time.icon
            发布于
            %time.timeago{datetime: "#{t.created_at.strftime('%Y-%m-%d %H:%M')}"}
          %p
            hww
          = link_to t do
            %div.description.tweet-content{ :title => "#{t.content}" }
              = truncate(t.content.html_safe, length:58)
        .extra.content
          %span.left.floated.like
            %i.red.like.icon
            喜欢
          %span.right.floated.comment
            %i.green.star.icon
            评论
