- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客"
= javascript_include_tag 'typed'
-cache 'home-index' do
  %main.pusher
    .masthead.segment
      .ui.text.container
        %h1.ui.inverted.header
          %span.person-title
            黄文威
          %div.typedjs
            %span.person-description
        .ui.fluid.horizontal.list
          .item
            = link_to "联系我","javascript:void(0)",class:'large ui inverted button'
          .item
            = link_to "简  历","javascript:void(0)",class:'large ui inverted button'
    .brief-itro.segment
      .ui.container
        %h2.ui.header
          %span.intro-title 快速了解我
          %span.intro-content
            = SettingsLogic.admin.intro_content

:coffee
  $('.person-description').typed
    strings: [ '专注于 Web 全栈开发。' ]
    loop: true
    showCursor: true
    startDelay: 500
    backSpeed: 10
    backDelay: 1500
    typeSpeed: 80
    cursorChar: "|"
    contentType: 'html'
