%ul.sidebar__list
  - Administrate::Namespace.new(namespace).resources.each do |resource|
    %li
      = link_to(                                                            |
          display_resource_name(resource),                                  |
          [namespace, resource],                                            |
          class: "sidebar__link sidebar__link--#{nav_link_state(resource)}" |
        )                                                                   |
  = link_to 'Sign out', sign_out_path, method: :delete, class: 'ui green button admin_sign_out'
  = link_to 'Home    ', root_path, class: 'ui green button admin_sign_out'
