%h1.ui.header.post-header
  = post.title
.post-content
:javascript
  document.addEventListener("turbolinks:load", function() {
    $('div.post-content').html($.parseHTML(decodeURI(gon.con)));
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
