%h1.ui.header.post-header
  = post.title
.simditor.override-simditor
  .post-content.description.simditor-body.override-simditor-body
:javascript
  document.addEventListener("turbolinks:load", function() {
    $('div.post-content').html($.parseHTML(gon.con));
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
