/*
 *= require semantic-2-2-6
 *= require ns-default
 *= require ns-style-other
 *= require simditor
 *= require solarized-light
 *= require rails_emoji_picker
 *= require social-share-button
*/

@import "bourbon";
@import "header";
@import "footer";
@import "home";
@import "clearance";
@import "post";
.menu{
  &>.active{
    color: #4D5139 !important;
  }
}
%textaligncenter{
  text-align: center !important;
  display:  flex !important;
  align-items: center !important;
  justify-content: center !important;
}
%simditor-override{
  .override-simditor{
    border: none !important;
    &>.override-simditor-body{
      padding: 0;
      min-height: 0;
    }
    &>.override-simditor-body p{
      color: #66676e;
    }
  }
}
.header-transparent{
  background: none !important;
  border-bottom: none !important;
  a{
    color: #fff !important;
  }
}

li{
  &>ul{
    padding-left: 0 !important;
  }
}

p{
  &>code{
    padding: 2px 4px;
    background-color: #f6f6f6;
    border: none;
    color: #657b83;
    font-size: 12px;
    white-space: pre-wrap;
  }
}
