@import "bourbon";
@import "semantic-2-1-8";
@import "header";
@import "footer";
@import "home";
@import "post";
@import "solarized-light";
%textaligncenter{
  text-align: center !important;
  display:  flex !important;
  align-items: center !important;
  justify-content: center !important;
}
%simditor-override{
  .override-simditor{
    border: none !important;
    &>.override-simditor-body{
      padding: 0;
      min-height: 0;
    }
    &>.override-simditor-body p{
      color: #66676e;
    }
  }
}
