@import "bourbon";
@import "simditor";
@import "semantic";
@import "header";
@import "footer";
@import "home";
@import "post";
@import "solarized-light";
%textaligncenter{
  text-align: center !important;
  display:  flex !important;
  align-items: center !important;
  justify-content: center !important;
}
