.sessions.new{
  background-color: #DADADA !important;
  &>.pusher{
    &> main{
      margin-top: 10rem;
      &>.grid {
        height: 100% !important;
        &>.column {
          max-width: 450px !important;
        }
      }
    }
  }
}
