header {
  &.headroom{
    will-change: transform;
    transition: transform 200ms linear;
  }
  &.headroom--pinned {
    transform: translateY(0%);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
  }
  min-height: 60px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;
  .ui.large.secondary.menu{
    .toc.item{
      display: none;
    }
    a {
      background:none !important;
      color: #fff;
    }
    a.item:hover {
      background:none !important;
      color: #57cdf9 !important;
    }
  }
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.menu .item,
  .secondary.menu .menu {
    display: none !important;
  }
  .secondary.menu .toc.item {
    display: block !important;
  }
}
