$home-title-color: #999aa1;
@mixin background{
  @extend %textaligncenter;
}

%title{
  @media only screen and (max-width: 700px) {
    font-size: 30px;
    margin-top: 65px;
  }
  color: rgba(255, 255, 255, 1);
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}

@include keyframes (Nextscroll) {
  from{
    margin-top: 0;
  }
  to{
    margin-top: 2rem;
  }
}

@include keyframes(backgroundScroll) {
  from {
    background-position: left top;
  }
  to {
    background-position: right bottom;
  }
}

%description{
  margin:2rem 0;
  color: rgba(255, 255, 255, 1);
  display: block;
  height:0.75em;
  font-size: 0.75em;
  font-weight: bold;
}
.masthead{
  height: 100vh;
}
.masthead.segment{
  @include background;
  opacity: 0.85;
  background-color: #4F726C;
  .ui.container{
    &>.scroll{
      display: inline-block;
      height: 44px;
      width: 28px;
      border-radius: 100px;
      border: 2px solid #fff;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 85vh;
    }
    &>.scroll:after {
      display: inline-block;
      height: 10px;
      width: 4px;
      background-color: #FFF;
      border-radius: 50px;
      content: "";
      @include animation(Nextscroll 1.0s alternate infinite);

    }
    .typedjs{
      padding: 1em;
      text-align:center;
    }
    .person-title{
      @extend %title;
    }
    .person-description{
      white-space:pre;
      display:inline;
      white-space: pre;
      @extend %description;
    }
    .ui.fluid.horizontal.list{
      width:100%;
    }
  }
}
.brief-itro{
  min-height: 100vh;
  background-attachment: fixed;
  opacity: 0.85;
  background-color: #77969A;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  &>.ui.grid{
    margin-top: 0 !important;
  }
  .self-info{
    margin-top: 25vh;
    &>.column{
      &>.ui.header{
        @media only screen and (max-width: 700px) {
          .self-info-img{
            width: 100px;
            height: auto;
          }
        }
      }
      &>.brief-itro-desc{
        color: #fff;
      }
    }
  }
}
.contact.segment{
  @extend %textaligncenter;
  background-color: #78C2C4;
  background-attachment: fixed;
  opacity: 0.85;
  height: 100vh;
  @-moz-document url-prefix() {
      margin-top: 0 !important
  }

  .header {
    &>button {
      float: right;
    }
  }
}
