$home-title-color: #999aa1;
@mixin background{
  @extend %textaligncenter;
  @include animation(backgroundScroll 5.0s alternate infinite);
  background-size: cover;
}

%title{
  color: rgba(255, 255, 255, 1);
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}

@include keyframes(backgroundScroll) {
  from {
    background-position: left top;
  }
  to {
    background-position: right bottom;
  }
}

%description{
  margin:2rem 0;
  color: rgba(255, 255, 255, 1);
  display: block;
  height:0.75em;
  font-size: 0.75em;
  font-weight: bold;
}
.masthead{
  height: 90vh;
}
.masthead.segment{
  @include background-image(url("/bg-img.jpg"), linear-gradient(white 0, white 50%, transparent 50%));
  @include background;
  background-attachment: fixed;
  opacity: 0.85;
  .ui.container{
    .typedjs{
      padding: 1em;
      text-align:center;
    }
    .person-title{
      @extend %title;
    }
    .person-description{
      white-space:pre;
      display:inline;
      @extend %description;
    }
    .ui.fluid.horizontal.list{
      width:100%;
    }
  }
}
.post-list{
  margin-top: 10vh !important;
  border-bottom: none !important;
}
.post-list.segment{
  .twelve.wide.column{
    .post-list-index{
      .home-posts-title{
        color: $home-title-color;
      }
      .list-post-list{
        .post-article{
          border-bottom: 1px dotted #e6e7eb;
          margin-bottom: 2em;
          .post-meta{
            color: #999aa1 !important;
          }
          .override-simditor{
            border: none !important
          }
          .override-simditor-body{

            padding: 0;
            min-height: 0;
          }
          .override-simditor-body p{
            color: #66676e;
          }
        }
      }
    }
  }
}
.book-info{
  display: inline-block;
  vertical-align: top;
  max-width: 116px;
  padding-bottom: 0 !important;
}
.index-sidebar{
  &>.home-book-title{
    color: $home-title-color;
  }
}
.brief-itro{
  min-height: 100vh;
  background-attachment: fixed;
  opacity: 0.85;
  @include background-image(url("/brif-info.jpg"));
  background-size: cover;
  .self-info{
    margin-top: 30vh;
  }
  .brief-itro-desc{
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    &>.item{
      margin-left: 2rem;
    }
  }
}
