.post-show{
  &>.post-pic{
    @include background-image(url("/post-detail-pic.png"));
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.85;
    min-height: 35rem;
    @media only screen and (max-width: 700px) {
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 15rem;
    }
  }
  &>.post-main{
    @media only screen and (min-width: 700px) {
      margin-top: 3rem;
    }
    &>.row{
      &>.sixteen.wide.column{
        margin-bottom: 5rem;
        .post-detail{
          @extend %simditor-override;
          max-width: 50rem;
          margin: auto;
          &>.post-header{
            font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
            word-break: break-all;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.5;
          }
          &>.like{
            display: inline;
          }
          &>.social-share-button{
            display: inline;
            float: right;
          }
        }
        .comments{
          &>.comment-head{
            margin-bottom: 25px;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            color: #999999;
            font-size: 12px;
            font-weight: normal;
            line-height: 52px;
            max-width: 50rem;
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
          &>.comment_form{
            max-width: 50rem;
            margin: auto;
            &>.title{
              float: right;
              margin-top: -5rem;
              color: #999999;
            }
          }
          &>.comment{
            max-width: 50rem;
            margin: auto;
            min-height: 5rem;
            margin-bottom: 20px;
            border-bottom: 1px solid #eeeeee;
            font-size: 16px;
            line-height: 1.5;
            &>.conent{
              color: #555555;
              font-family: Georgia, "Times New Roman", Times, serif !important;
            }
            &>.name{
              font-size: 25px;
              line-height: 1.5;
              color: rgb(102, 103, 110);
            }
            &>.comment_at{
              margin-top: 3px;
              font-size: 12px;
              color: #999999;
            }
          }
        }
      }
    }
  }
}
.post.index{
  &>.pusher{
    height: auto !important;
  }
}
.post-index{
  min-height: 10rem;
  background: #fafafa;
  margin: 1rem 0 1rem 0;
  &>.container{
    &>.row{
      width: 1127px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      &>.post_list_sidebar{
        padding-right: 0 !important;
        &>.tag_list, .categories{
          margin-top: 1rem;
        }
        &>.categories, .tag_list, .tweet_list{
          padding: 10px;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #E3E9ED;
          &>.tweet_header{
            display: inline;
          }
          &>.floated{
            font-size: 12px !important;
          }
          &>.floated:hover{
            color: #57cdf9 !important;
          }
          border-bottom: 1px solid #f0f0f0;
          &>.ui.header{
            margin-bottom: 10px;
            font-size: 14px;
            color: #969696;
          }
          &>.ui.labels{
            &>.label{
              color: rgba(0,0,0,.6);
              background: rgba(255,255,255,.97);
              font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
              font-weight: 400;
              font-style: normal;
              border-radius: 3px;
              border: 1px solid #f0f0f0;
              padding: 5px 10px;
              font-size: 13px;
              letter-spacing: 0;
            }
          }
          &>.ui.list{
            &> a{
              margin: 0 0 8px;
              font-size: 13px;
              line-height: 24px;
              font-family: Songti SC,serif;
              color: #333;
              padding: 1px 5px 1px 5px;
              &>.time{
                color: #969696;
                margin-right: 10px;
              }
            }
            &>.item{
              margin-bottom: 10px;
              line-height: 20px;
              &>.category{
                &>i{
                  color: #969696 !important;
                }
                font-family: Songti SC,serif;
                position: relative;
                max-width: 236px;
                vertical-align: middle;
                top: 1px;
                font-size: 14px;
                color: #333 !important;
              }
            }
          }
        }
      }
      &>.post_list{
        &>.column{
          text-align: center !important;
        }
      }
      &>.list{
        background: #fff;
        border-radius: 4px;
        border: 1px solid #E3E9ED;
        &>.item{
          padding-bottom: 17px;
          .create_at{
            margin: 8px 0;
            font-size: 12px;
            color: #717171;
            margin: 8px 0;
          }
          &>.header{
            font-family: Songti SC,serif;
            margin-top: 1rem;
            display: inherit;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            &> a{
              color: #555555 !important;
            }
          }
          &>.list{
            &>.item{
              color: #999999;
              font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
              font-size: 12px;
              font-weight: normal;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
