.post-show{
  &>.post-pic{
    @include background-image(url("/post-detail-pic.png"));
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.85;
    min-height: 35rem;
    @media only screen and (max-width: 700px) {
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 15rem;
    }
  }
  &>.post-main{
    @media only screen and (min-width: 700px) {
      margin-top: 3rem;
    }
    &>.row{
      &>.sixteen.wide.column{
        .post-detail{
          @extend %simditor-override;
          max-width: 50rem;
          margin: auto;
          &>.post-header{
            font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
            word-break: break-all;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
.post.index{
  &>.pusher{
    height: auto !important;
  }
}
.post-index{
  min-height: 10rem;
  background: #fafafa;
  margin: 1rem 0 1rem 0;
  &>.container{
    &>.row{
      &>.list{
        &>.item{
          border-bottom: 1px dashed #d9d9d9;
          padding-bottom: 17px;
          .create_at{
            margin: 8px 0;
            font-size: 12px;
            color: #717171;
            margin: 8px 0;
          }
          &>.header{
            margin-top: 1rem;
            &> a{
              color: #555555 !important;
            }
          }
          &>.list{
            &>.item{
              color: #999999;
              font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
              font-size: 12px;
              font-weight: normal;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
