= javascript_include_tag 'editor'
= stylesheet_link_tag 'editor'
.simditor
  = f.text_area :content,placeholder:'content'
:javascript
  var id = $('textarea').attr("id");
  var editor = new Simditor({
    textarea: $('#'+id),
    markdown: false,
    toolbar: ['title','bold', 'italic', 'underline','strikethrough','fontScale', 'color',
              '|', 'ol', 'ul', '|', 'blockquote','code','table','link','image','hr','indent',
              'outdent','alignment','markdown', 'fullscreen'],
    upload: {
      url: '/upload',
      params: {
        "authenticity_token": "#{form_authenticity_token.to_s}"
      },
      fileKey: 'upload_file',
      connectionCount: 3,
      leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
    },
    pasteImage: true
  });
