-cache 'header' do
  %header.nav-down
    .ui.grid.menu-index
      .five.wide.column
      .six.wide.column.main-menu-index.center.aligned
        .ui.horizontal.list
          =link_to "博客","#",class:'item'
          =link_to "简历","#",class:'item'
          =link_to "项目","#",class:'item'
          =link_to "联系","#",class:'item'
      .five.wide.column
        - if signed_in?
          = current_user.email
          = button_to "退出",sign_out_path,method: :delete
        - else
          = link_to "登录",sign_in_path
