- cache 'footer' do
  %footer.power-footer
    %p.power © 2015 HuangWenwei, Inc.
:scss
  footer{
    height: 10vh;
    text-align: center;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: rgba(0,0,0,0.3);
  }
