%footer.power-footer
  %p © 2015 黄文威 .  Powered by 黄文威
:scss
  footer{
    height: 10vh;
    text-align: center;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: rgba(0,0,0,0.3);
  }
