-cache 'header' do
  %header.nav-down.textaligncenter
    .ui.grid.menu-index
      .four.wide.column
      .eight.wide.column.main-menu-index
        .ui.horizontal.list
          =link_to "博客","#",class:'item'
          =link_to "简历","#",class:'item'
          =link_to "项目","#",class:'item'
          =link_to "联系","#",class:'item'
      .four.wide.column.wb
        =link_to "外包","#",class:'wb-link'
:scss
  .menu-index{
    width:100%;
    .main-menu-index{
      .ui.horizontal.list a{
        color: #999;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
      }
      .ui.horizontal.list a:hover{
        color: #57cdf9;
      }
    }
    .four.wide.column.wb{
      text-align: right;
      a{
        color: #D8262C;
        font-size: 20px;
      }
    }
  }
:javascript
  $('.wb-link').popup({
    inline   : true,
    position: 'left center',
    content : '若需要帮您建站，请点击 ~'
  });
